#auth{
  height: 350px;
  width: 350px;
  border:2px solid #d3d3d3;
  background-color: #f9f9f9;
  display: block;
  margin: 0 auto;
  margin-top: 50px; 
 
}

h2{
  font-size: 20px;
  font-family: arial;
  margin-left: 5%;
  margin-top: -7%;
}

form{
  float: right;
  padding-right: 5%;
  padding-top: 5%;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  display:block;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 75%;
}
.email{
  direction: ltr;
}
::placeholder{
  text-align: right;
}
form+form{
  float: left;
  padding-left:3%;
  margin-top: -65%;
  /*padding-bottom: 50%;*/
}
select{
  width: 150px;
  padding-bottom: 3px;
  padding-top: 5px;
  direction: rtl;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px; 
}

button{
    height: 35px;
    width: 85px;
    border-radius: 5px;
    border: 2px solid #4f4d4f;
    float:right;
    background-color:#676767;
    color:#ffffff;
    font-size: 17px;
    cursor: pointer;
    margin-top:1%;
    margin-right:40%;
}

button:hover{
    background-color:#585858;
}