<meta charset="utf-8">
<div id="auth">
    <form>
        <h2>צור משתמש</h2>
        <input #firstName type="text" name="firstName" ngModel placeholder="שם פרטי" required>
        <input #lastName type="text" name="lastName" ngModel placeholder="שם משפחה" required>
        <input #email  class="email" type="email" name="email" ngModel placeholder="אימייל" required>
        <input #pass type="password" name="password" ngModel placeholder="סיסמא" required>
        <input #age type="age" name="age" ngModel placeholder="גיל" required>
    </form>   
    <form [formGroup]="auth">  

        <select class="form-control" formControlName="WorkExperience">
            <option value="null">ללא ניסיון</option>
            <option *ngFor="let w of WorkExperience"
              [value]="w"> 
              {{w}} 
            </option>
        </select>

        <select class="form-control" formControlName="gender">
            <option value="null" >מין</option>
            <option *ngFor="let g of gender"
              [value]="g"> 
              {{g}} 
            </option>
        </select>
    </form>
    <button (click)="createUser(auth.value)" type="submit">הירשם</button>    
</div>

