button{
        height: 40px;
        width: 80px;
        border-radius: 5px;
        border: 2px solid #7d331f;
        margin-left: 15px;
        background-color:#cf411b;
        color:#ffffff;
        font-size: 17px;
        cursor: pointer;
        outline:none;
    }

button:hover{
        background-color:#b13615;
    }

@media (min-width: 731px){

    #header{
        height: 120px;
        width: 100%;
        background: #84b4a7;
    }
    
    img{
       margin-left: 90px;
    }

    #buttons{
        float: right;
        margin-right: 200px;
        margin-top: 50px;
    }

    #nameLogin{
        float: right;
        margin-right: 200px;
        margin-top: 50px;  
        font-size: 20px;
        color:#ffffff;
    }

    .logout{
        float: right;
        cursor: pointer;
        color: #b13615;
        font-size: 15px;
        margin-right: 65px;
        margin-top: 55px;
       
    }

    #hamburger{
      width:168px;
      height: 80px;
      border-right:0.5px solid #929292;
      position:absolute;
    } 

    #hamburger button{
      border:none;
      background:none;
      outline:none;
      margin-left:30%;
      margin-top:20%;
    }

    #hamburger img{
      font-size:40px;;
      font-weight:40px;
        color: #f2f2f2;
        margin: 10px;
    }

    #myNav{
      height: 190px;
      width: 158px;
      z-index: 1;
      top:120px;;
      right: 0;
      background-color: #84b4a7;
      position:absolute;
    }

    #myNav hr{
      width:158px;
      display:block;
      margin-right: -40px;
    }

    #myNav ul{
      text-align: right;
      margin-left:10px;
      margin-top: 20px;
      list-style-type:none;
    }

    #myNav ul li:hover{
      font-weight:bolder;
      cursor: pointer;
      font-size: 18px;
    }

    #myNav ul li{
      cursor: pointer;
      font-size: 18px;
      margin-right: 5%;
    }

    #myNav ul li img{
      margin-right: -15%;
      position: absolute;
      margin-top: 3%;
    }

    .glyphicon-user{
      font-size: 15px;
      margin-right: -20%;
    }

    .glyphicon-home{
      font-size: 15px;
      margin-right: -20%;
    }
}
@media (max-width: 730px) {

    #header{
        display: block;
        height:220px;
        background: #84b4a7;
    }

    #buttons{
        margin-right:0px;
        margin-top: -30px;
        display: block;
    }

    button{
        display: block;
        margin:0 auto;
        margin-top: 10px;
    }

    img{
        display: block;
        margin :0 auto;
        margin-top:-20px;
    }

     #nameLogin{
        display: block;
        text-align: center;
        font-size: 20px;
        color:#ffffff;
    }

    .logout{
        display: block;
        cursor: pointer;
        color: #b13615;
        font-size: 15px;
        text-align:center; 
    } 

    #hamburger{
        width:168px;
        height: 80px;
        border-right:0.5px solid #929292;
        position:absolute;
    }

    #hamburger button{
        border:none;
        background:none;
        outline:none;
        margin-left:30%;
        margin-top:60%;
    }

    #hamburger .glyphicon{
        font-size:40px;;
        font-weight:40px;
        color: #f2f2f2;
        margin: 10px;
    }

    #myNav{
        height: 190px;
        width: 138px;
        z-index: 1;
        top:180px;
        right: 0;
        background-color: #84b4a7;
        position:absolute;
    }

    #myNav hr{
        width:158px;
        display:block;
        margin-right: -40px;
    }

    #myNav ul{
        text-align: right;
        margin-left:10px;
        margin-top: 20px;
        list-style-type:none;
    }

    #myNav ul li:hover{
        font-weight:bolder;
        cursor: pointer;
        font-size: 20px;
    }  
}




