/*#departments{
    margin: auto;
    padding-top: 80px;
    padding-right:170px;
}

.frame{
    width: 300px;
    height: 160px;
    border: 1px solid black;
    border-radius: 5px;
    float: right;    
    padding: 7px;  
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.logo{
    float: right;
    width: 180px;
    height: 140px;
}

.logo img{
    width: 100%;
    height: 100%; 
}

p{
    margin-top: 35px;
    font-size: 18px;
    text-align: center;
}

.modal-title{
  margin-left: 195px;
}

.modal-body{
 text-align: right;
}

.modal-body p{
 margin-top:-3px;
 font-size: 12px;
 text-align: right;
}*/
#frame{
    cursor: pointer;
    width:400px;
    height:210px;
    margin: 0 auto;
   /* width: 610px;*/
   /* height: 160px;*/
    border: 1px solid black;
    border-radius: 5px;
   /* float: right;    
    padding: 7px;  
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;*/
}
.name{
    text-align: center;
    font-size: 20px;
}
img{
    padding-top: 3%;
    margin: 0 auto;
    display: block;
}