.name{
    text-align: center;
    font-size: 20px;
}

img{
    margin: 0 auto;
    display: block;
    width: 298px;
}

#mainLayout3{
    background: #f9f9f9;
    position: relative;
    padding-left:1%;
    padding-top:5%;
}

#mainLayout3 > *{
    width:300px;
    height:200px;
    border: 1px solid #020741;
    background:#ffffff;
    display:inline-block;  
    margin-left:2%;
    margin-bottom:10%;
    cursor:  pointer;   
}


button{
    /*float: right;*/
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: 2px solid #7d331f;
    background-color:#cf411b;
    color:#ffffff;
    font-size: 17px;
    cursor: pointer;
    outline:none;
    margin-top:2%;
    margin:0 auto;
    display: block;
}

button:hover{
        background-color:#b13615;
    }

#wrapperLayout3{
    max-width:1000px;
    width: 100%;
    margin:0 auto;
}

@media (max-width: 634px) {
    #mainLayout3 > *{
        margin:0 auto;
        display: block;
        margin-bottom:10%; 
    }

}
