#contener{
    margin-left: 25%;
    margin-top: 8%;
}

section{
    width: 15%;
    height: 160px;
    border: 2px solid #ccc;
    border-radius: 20px;
    display: inline-block;
    margin-left: 5%;
    cursor: pointer;
}

span{
    margin-left: 40px;
    margin-top: 40px;
    font-size: 65px;
    color:#878787;
}

p{
    color: #878787;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

img{
    margin-left: 40px;
    margin-top: 40px;
}
