<img src="{{Departments.logo}}"> 
<h1>{{Departments.hebName}}</h1>
<div class="data">
    <span>תיאור התחום:</span>
    <p>{{Departments.description}}</p>
    <span>תנאי קבלה:</span>
    <p>{{Departments.requirements}}</p>
    <span>נושאי לימוד:</span>
    <p>{{Departments.subjects}}</p>
    <span>שכר התחלתי:</span>
    <p>{{Departments.lowSalary}}</p>
    <span>שכר לבעלי ניסיון:</span>
    <p>{{Departments.highSalary}}</p>
    <span>מוסדות שמלמדים תחום זה:</span>
    <p id="subEng" (click)="openColleges(s)" *ngFor="let s of arraySubEng">{{s}}</p>
</div> 
<button (click)="goBack()">Go Back</button>