#filter{
    margin-left:15%;
    margin-top: 5%; 
}

select{
    display: inline-block;
    width: 14%;
    direction: rtl;
}
.btn{
    background: #84b4a7;
    margin-right: 10px;
    border: #84b4a7;
    width: 50px;
    height: 30px;
}
#frame{
    cursor: pointer;
    width:610px;
    height:100px;
    margin: 0 auto;
   /* width: 610px;*/
   /* height: 160px;*/
    border: 1px solid black;
    border-radius: 5px;
   /* float: right;    
    padding: 7px;  
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;*/
}
.info{
   /* padding: 5px;*/
   /* float: right;*/
    /*position: relative;*/
/*    margin-left: 200px;*/
    text-align: center;
}

.info p{
   margin-right: 10%;
}