<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="filter">

    <form [formGroup]="myform" (ngSubmit)="filter(myform.value)">  
          
          <select class="form-control" formControlName="choose">
            <option value="null" >בחר סוג מלגה</option>
            <option *ngFor="let c of choose"
            [value]="c"> 
                   {{c}} 
             </option>
        </select>

        <select *ngIf="cLocation" class="form-control" formControlName="location">
            <option value="null" >כל הארץ</option>
            <option *ngFor="let l of locations"
            [value]="l"> 
                   {{l}} 
             </option>
        </select>

        <select *ngIf="cOrigin" class="form-control" formControlName="origin">
            <option value="null" >כל המוצאים</option>
            <option *ngFor="let o of origin"
              [value]="o"> 
              {{o}} 
             </option>
        </select>

        <input type="submit" class="btn btn-info" value="סינון" [disabled]="!myform.valid">
        
    </form> 
</div>
    
<div id="wrapperLayout3">
  <main id="mainLayout3">
    <section *ngFor="let s of scholarships">
      <section (click)="intoScholarships(s)">
        <img src="{{s.img}}">   
        <p class="name">{{s.name}}</p>
      </section>
    </section>
  </main>
</div>
  
