#login{
  padding: 15px;
  width: 350px;
  border:2px solid #d3d3d3;
  background-color: #f9f9f9;
  float: right;
  text-align: right;
  position:absolute;
  margin-top: 50px; 
  left: 500px;
}

h2{
  font-size: 20px;
  font-family: arial;

}

form{
  float: right;
  padding-right: 10px;
  padding-top: 30px;
}

input {
  padding: 7px 10px;
  width: 280px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

::placeholder{
  text-align: right;
}

button{
    height: 55px;
    width: 280px;
    float: right;
    position: relative;
    border-radius: 5px;
    border: 2px solid #4f4d4f;
    background-color:#676767;
    color:#ffffff;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color:#585858;
}

#sighnIn{
  width: 280px;
  height: 35px;
  display: block;
  margin-bottom: 20px;
}
#or{
  top: 220px;
  right: 150px;
  display: block;
  position: absolute;
}

#Facebook{
  background-color: #3B5998;
  color: white;
}


#Google{
    background-color: #F44336;
    color: white;
}

#res{
  text-align: center;
}