<!-- <meta charset="utf-8">

<aside>
    <div id="recommended">
        <h3>:אולי יעניין אותך ללמוד</h3>
        <p id="recommended1"></p><br>
        <p id="recommended2"></p><br>
        <p id="recommended3"></p><br>
    </div>
    <div id="history">
        <h3>:צפית לאחרונה</h3>
    </div>
</aside>
<div id="startChat">
            <p>שמי אילנה ואני פסיכולוגית תעסוקתית</p>
            <p>
            .על מנת שאוכל להתאים לך את תחומי ההנדסה
             אצטרך להכיר אותך ואת תחומי העניין שלך<br>
            ...לחץ על "התחל צא'ט" ונצא לדרך
            </p>
        <img src="../../../assets/images/avatar-psychologist (1).png">
        <button routerLink="/chat-bot">התחל צ'אט</button>
</div>

<div id="data">
        
    <div id="colleges" routerLink="/colleges">
         <img src="../../../assets/images/מוסדות.png">
    </div>
    <div id="departments" routerLink="/departments">
         <img src="../../../assets/images/הנדסה.png">
    </div>     
</div> -->



<!-- <div id="info">
    <p>
        כאן תוכל למצוא מידע אודות תחומי ההנדסה השונים<br>
    </p>
    <button>תחומי הנדסה</button>
    <button>מוסדות לימוד</button>
    <button>תנאי שכר</button>

</div> -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom" id="sectionLeft">
      <div class="w3-container w3-white">
        <img src="../../../assets/images/מוסדות.png"  id="data" routerLink="/colleges">
        <img src="../../../assets/images/הנדסה.png" id="data" routerLink="/departments">
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom" id="sectionMiddle">
      <div class="w3-container w3-white">
         <p>שמי אילנה ואני פסיכולוגית תעסוקתית</p>
            <p>
             על מנת שאוכל להתאים לך את תחומי ההנדסה.
             אצטרך להכיר אותך ואת תחומי העניין שלך<br>
              לחץ על "התחל צא'ט" ונצא לדרך...
            </p>
        <img src="../../../assets/images/avatar-psychologist (1).png">
        <button routerLink="/chat-bot">התחל צ'אט</button>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom" id="sectionRight">
      <div class="w3-container w3-white">
            <h3>אולי יעניין אותך ללמוד:</h3>
            <p id="recommended1"></p><br>
            <p id="recommended2"></p><br>
            <p id="recommended3"></p><br>
            <h3>המומלצים:</h3>
      </div>
    </div>
  </div>
  

