
p{  
    text-align: center;
    font-size: 15px; 
    margin-top: 5%;
}

.w3-container p{
    cursor: pointer;
}

#sectionMiddle img{
    width:50%;
    margin-left:25%;
    margin-top: 7%;
}

h3{
    text-align: center;
}

#data{
    cursor: pointer;
    border-radius: 50px; 
    width: 60%;
    margin-left: 20%;
    padding-top: 2%;
    height: 144px;
}

button{
    height: 40%;
    width: 40%;
    border-radius: 5px;
    border: 2px solid #4f4d4f;
    background-color:#676767;
    color:#ffffff;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin-top: 7%;
    margin-right:30%;

}

button:hover{
    background-color:#585858;
}
