*{
    margin: 0;
    padding: 0;
}

img{
    width: 500px;
    height: 100px;
    margin:0 auto;
    display: block;
}

h1{
    text-align: center;
}

.data{
    text-align: right;
    border: 1px solid grey;
    margin: 0 auto;
    margin-top: 5%;
}

p{
    font-size: 15px;
}

 span{
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}

.back{
    float: right;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: 2px solid #7d331f;
    background-color:#cf411b;
    color:#ffffff;
    font-size: 17px;
    cursor: pointer;
    outline:none;
    margin-top:-2%;
    margin-right:7%;
}

.back:hover{
        background-color:#b13615;
    }

@media (max-width: 634px) {
    
   .back{
        float: none;
        display: block;
        margin: 0 auto;
        margin-bottom: 1%;
    }
}