*{
    margin: 0;
    padding: 0;
}
img{
    width: 500px;
    height: 100px;
    margin:0 auto;
    display: block;
}
h5,h1{
    text-align: center;
}
.data{
    text-align: right;
    border: 1px solid grey;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
}

p{
    font-size: 15px;
}
 span{
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}

.rating{
    margin-left: 46%;
}

.far{
    font-size: 200%;
    cursor: pointer;
    color: #ccc;
}

.fas{
    font-size: 200%;
    cursor: pointer;
    color: orange;    
}

.more>p{
    overflow: hidden;
    text-overflow:ellipsis;
}

#subEng{
    cursor: pointer;
}

.back{
    float: right;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: 2px solid #7d331f;
    background-color:#cf411b;
    color:#ffffff;
    font-size: 17px;
    cursor: pointer;
    outline:none;
    margin-top:-8%;
    margin-right:7%;
}

.back:hover{
        background-color:#b13615;
    }

@media (max-width: 634px) {
    
    .back{
        float: none;
        display: block;
        margin: 0 auto;
        margin-bottom: 1%;
    }

    img{
        width: 100%;
    }
}