#filter{
    margin-left:10%;
    margin-top: 5%; 
}

agm-map {
  height: 500px;
  width: 480px;
}

#getMap{
    margin-left: 100px;
    width: 10%;
    height: 30px;
    color: #ffffff;
    text-align: center;
}

select{
    display: inline-block;
    width: 11%;
    direction: rtl;
}

#userLocation{
    margin-right: 10px;
    width: 8%;
    margin-top: -3px;
    margin-left: 3px;
}

.btn{
    background: #84b4a7;
    margin-right: 10px;
    border: #84b4a7;
    width: 50px;
    height: 30px;
}

/*#institutes{
    margin: auto;
    padding-top: 30px;
    padding-right:300px;
}*/

#grade{
    width: 7%;
    display: inline-block;

}

#Extend{
    width: 10%;
    margin-top: -5%;
    margin-left: -2.5%;
}

#ExtendedFilter{
    margin-left: 7%;
}

#ExtendedFilter select{
    width: 13%;
}

#frame{
    cursor: pointer;
    width:610px;
    height:270px;
    margin: 0 auto;
   /* width: 610px;*/
   /* height: 160px;*/
    border: 1px solid black;
    border-radius: 5px;
   /* float: right;    
    padding: 7px;  
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;*/
}

.info{
   /* padding: 5px;*/
   /* float: right;*/
    /*position: relative;*/
/*    margin-left: 200px;*/
    text-align: right;
}

.info img{
    padding-bottom: 5px;
    width: 280px;
    height: 50px;
}

.info p{
   margin-right: 10%;
}

.info span{
    font-weight: bold;
}
/*.favorite{
    float: left;
    width: 150px;
    height: 150px;
   /* border:1px solid grey; */
   /* margin-top: -160px;*/
/*}*/
.favorite span{
    float: left;
    margin-top: -125px;
    margin-left: 10%;
    /*padding-top: -80px;
    padding-left: 50px;*/
    font-size: 30px;
   /* margin-left:10%;*/
    cursor: pointer;
}

.rate{
    width: 200px;
    float:left;
    margin-left: 35%;
     margin-top: 0%;
   /* padding: 10px;
}*/
}
.rate span{
    /*float: left;*/
    font-size: 20px;
    cursor: pointer;
   
}

.modal-title{
  margin-right: 195px;
}

.close{
    float: right;
    margin-right: -280px;
}
