#filter{
    margin-left:10%;
    margin-top: 5%; 
}


.probability{
  padding-left: 3.5%;
  width: 25%;
  height: 12%;
  background-color: #f0f0f0;
  margin-right: 70%;
  border: solid 2px #ffc107;
  border-radius: 45%;
}

agm-map {
  height: 500px;
  width: 480px;
}

#getMap{
  width: 8%;
  height: 50%;
  color: #ffffff;
  text-align: center;
  float: right;
  margin-right: 5%;
   margin-top: 1%;
}

select{
    display: inline-block;
    width: 11%;
    direction: rtl;
}

#userLocation{
  float: right;
  margin-right: 19%;
  width: 10%;
  margin-top: 0.1%;
  background-color: #ffff;
  border-color: #6c6e70;
  color: #6c6e70;
}

.btn{
    background: #84b4a7;
    margin-right: 10%;
    border: #84b4a7;
    width: 50px;
    height: 30px;
}

/*#institutes{
    margin: auto;
    padding-top: 30px;
    padding-right:300px;
}*/

#grade{
    width: 7%;
    display: inline-block;

}

#Extend{
  width: 10%;
  background-color: #ffc107;
  margin-right: 0;
  margin-top: 0;
  margin-left: 85%;
}

#ExtendedFilter{
    margin-left: 7%;
}

#ExtendedFilter select{
    width: 13%;
}

#frame{
    cursor: pointer;
    width:610px;
    height:270px;
    margin: 0 auto;
   /* width: 610px;*/
   /* height: 160px;*/
    border: 1px solid black;
    border-radius: 5px;
   /* float: right;    
    padding: 7px;  
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;*/
}

.info{
   /* padding: 5px;*/
   /* float: right;*/
    /*position: relative;*/
/*    margin-left: 200px;*/
    text-align: right;
}

.info img{
    padding-bottom: 5px;
    width: 280px;
    height: 50px;
}

.info p{
   margin-right: 10%;
}

.info span{
    font-weight: bold;
}
/*.favorite{
    float: left;
    width: 150px;
    height: 150px;
   /* border:1px solid grey; */
   /* margin-top: -160px;*/
/*}*/
.favorite span{
    float: left;
    margin-top: -125px;
    margin-left: 10%;
    /*padding-top: -80px;
    padding-left: 50px;*/
    font-size: 30px;
   /* margin-left:10%;*/
    cursor: pointer;
    color: #e94937;
}

.rate{
    width: 200px;
    float:left;
    margin-left: 35%;
     margin-top: 0%;
   /* padding: 10px;
}*/
}
.rate span{
    /*float: left;*/
    font-size: 20px;
    cursor: pointer;
   
}

.modal-title{
  margin-right: 195px;
}

.close{
    float: right;
    margin-right: -280px;
}

/*.rating input:before{
    background: #ccc;
        content: "\f005";
    font-family: "Font Awesome Free"; 
}*/

/*.rating label{
    display: block;
    cursor: pointer;
    width: 50px;

}*/
/*.rating label:before{
    content: "\f005";
    font-family: "Font Awesome Free"; 
    position: relative;
    display: block;
    font-size: 20px;
    color: #101010;
}*/
/*.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}*/

.back{
    float: right;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: 2px solid #7d331f;
    background-color:#cf411b;
    color:#ffffff;
    font-size: 17px;
    cursor: pointer;
    outline:none;
    margin-top:2%;
    margin-right:7%;
}

.back:hover{
        background-color:#b13615;
    }