#chat{
   width:700px;
    height:385px;
    margin: 0 auto;
    margin-bottom: -5%;
   /* border: 1px solid black;*/
    border-radius: 5px;
    overflow: auto;
    text-align: right;
    background: #e5e5ea;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img{
  height: 40px;
  width: 40px;
}
#chat p{
  direction: rtl;
  background-color:#ffffff;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  width: 200px;
  margin-top: 3%;
  margin-right: 20%;
  margin-bottom:-2%; 
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid #84b4a7; 
  margin-right: 105%;
  margin-top: -10%;
 /* margin-left:5%;
  margin-top: -15%;*/
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  margin-right:-11%;
  margin-top: -10%;
}

.psychImg{
 float: right;
 margin-right:-40%;
 margin-top: -35%; 
}
.userImg{
  float: left;
  margin-left:-25%; 
  margin-top: -35%;
}
.odd{
  padding: 50px;
  direction: rtl;
  background-color:#84b4a7;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  width: 200px;
  float: left;
  margin-left:18%;
  margin-top: -12%;
   /*margin-top:-45px;
  margin-right: 120px*/
}

.even{
  direction: rtl;
  background-color:#ffffff;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  width: 200px;
  margin-top: 3%;
  margin-right: 20%;
  margin-bottom:12%; 
}
#answer{
  background: #e5e5ea;
  width: 700px;
  height: 50px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  border-top: 1px solid grey;
  padding: 20px;
  padding-right: 200px;
}

 .select button{
  position: relative;
  float: right;
  margin-top: -10px;
  height: 28px;
  width: 80px;
  border-radius: 5px;
  border: 2px solid #4f4d4f;
  background-color:#8fe600;
  border-color:#8fe600;
  color:#ffffff;
  font-size: 17px;
  cursor: pointer;
  margin :0 auto;
  margin-right: 10px;
  margin-left: 10px;
}
.select span{
  margin-top: 3px;
}
.first > button{
  background-color:#8b9dc3;
  border-color: #8b9dc3;
}
.last > button{
   background-color:#e56567;
   border-color:#e56567;
}