<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<div class="w3-content w3-padding-large w3-margin-top" id="portfolio">
  <section class="w3-image w3-margin-top" id="chat">
            <div *ngIf="showP1">
              <p>שלום אני מומחה וירטואלי</p>
            </div>
            <div *ngIf="showP2">
              <p> אני אשאל אותך מספר שאלות</p> 
            </div>
            <div *ngFor = "let mg of messages;let evenMess=even ; let oddMess=odd  ; let last=last ;" [ngClass]="{odd:oddMess,even:evenMess,last:last}">
                {{mg.content}}
              <div *ngIf="evenMess">
                  <div class="arrow-right"></div>
                  <img class="psychImg" src="../../../assets/images/avatar-psychologist.png">
              </div> 
              <div *ngIf="oddMess">
                  <div class="arrow-left"></div>
                  <img class="userImg" src="../../../assets/images/User_Avatar.png">
              </div>
            </div> 
            <div class="messagesResult" *ngFor ="let mg of messageResult"> 
             {{mg.content}}
                 <div class="arrow-right"></div>
                 <img class="psychImg1" src="../../../assets/images/avatar-psychologist.png">
            </div>
  </section>
  <section class="w3-image w3-margin-top" id="answer">
            <div class="select" *ngFor="let s of selects;let i=index; let first = first; let last = last ;" [ngClass]="{first:first,last:last}"> 
                <button (click)="send(s.name)">
                  <div *ngIf="first">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                  </div>
                  <div *ngIf="i==1">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </div>
                  <div *ngIf="last">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                  </div>
                </button> 
            </div>
  </section>
</div>