
#chat{
  background: #e5e5ea;
  width: 700px;
  height: 300px;
 /*height: 100%;*/
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 10px;
  overflow: auto;
  text-align: right;
}

#chat p{
  direction: rtl;
  background-color:#ffffff;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  width: 200px;
  margin-left: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
 
}

.odd{
  padding: 50px;
  direction: rtl;
  background-color:#84b4a7;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  min-width: 200px;
  float: right;
 margin-top:-30px;
  margin-right: 120px
}

.even{
  direction: rtl;
  background-color:#ffffff;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  width: 200px;
  margin-left: 120px;
  margin-top:10px;
  margin-bottom: 30px;
}
.answer{
  background: #e5e5ea;
  width: 700px;
  height: 180px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  padding-right: 200px;
  border-top: 2px solid #d3d3d3;
}

 .select button{
  position: relative;
  float: right;
  margin-top: 50px;
  height: 28px;
  width: 80px;
  border-radius: 5px;
  border: 2px solid #4f4d4f;
  background-color:#8fe600;
  border-color:#8fe600;
  color:#ffffff;
  font-size: 17px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}
.select span{
  margin-top: 3px;
}
.first > button{
  background-color:#8b9dc3;
  border-color: #8b9dc3;
}
.last > button{
   background-color:#e56567;
   border-color:#e56567;
}
/*.first > span{
  float: right;
  right: 565px;
  top: 498px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}*/