   <div id="chat">
             <p>שלום אני מומחה וירטואלי</p>
             <p> אני אשאל אותך מספר שאלות</p>
             <div *ngFor = "let mg of messages;let evenMess=even ; let oddMess=odd ;" [ngClass]="{odd:oddMess,even:evenMess}">
                {{mg.content}}
             </div>
    </div>
    <div class="answer">
        <div class="select" *ngFor="let s of selects;let first = first; let last = last ;" [ngClass]="{first:first,last:last}"> 
            <button (click)="send(s.name)"></button> 
             <span (click)="send('כן')" class="glyphicon glyphicon-thumbs-up"></span> 
        </div>

        <!-- <i class="glyphicon glyphicon-plus"></i>
        <i class="glyphicon glyphicon-plus"></i> --> 
    </div>

